<!DOCTYPE html>
<html>
<head>
  <title>TudlaHubstaff</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "tailwind", media: "all" %>
  <%= javascript_importmap_tags %>
</head>
<body>

<%= yield %>

<%= javascript_import_module_tag "tudla_hubstaff/controllers/index" %>
</body>
</html>
