<button type="button"
        class="tudla_hubstaff-map-button text-indigo-600 hover:text-indigo-900"
        data-action="click-><%= stimulus_controller %>#open"
        data-item-id="<%= item_id %>"
        data-item-name="<%= item_name %>"
        data-map-url="<%= map_url %>">
  <%= button_text %>
</button>
